<HTML>
<h1>Performers create</h1>
<%= form_with model: @performer do |c| %>
  <%= c.text_field :firstName , placeholder: 'First_name'%>
  <%= c.text_field :lastName , placeholder: 'Last_name'%>
  <%= c.submit "Send" %>
<% end %>
</html>
