<HTML>
<h1>create Performers</h1>
<%= form_with model: @performer do |c| %>
  <%= c.text_field :firstName , placeholder: 'firstName'%>
  <%= c.text_field :lastName , placeholder: 'lastName'%>
  <%= c.submit "Send" %>
<% end %>
</html>
